.Shop {
  max-width: 90%;
  margin: 10px auto;
  display flex
}
.card-one {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.my-cart {
  width: 100%
}
.shop-cart {
  position fixed
  right: 80px
  bottom: 40px 
  font-size: 4em
}